<nav>
  <ul id="menuBar">
    <li><a href="index.html">Home</a></li>
    <li><a href="vision.html">Our Vision</a></li>
    <li class="has-submenu">
      <a href="#">About Us</a>
      <ul>
        <li><a href="history.html">History</a></li>
        <li><a href="board.html">Board of Directors</a></li>
        <li><a href="donors.html">Donors</a></li>
      </ul>
    </li>
    <li><a href="newsletters/index.html">Newsletters</a></li>
    <li >
      <a href="#">How To Help</a>
      <ul>
        <li><a href="help.html">Donate to IEI</a></li>
        <li><a href="donate-scholarship.html">Scholarship Fund</a></li>
      </ul>
    </li>
    <li><a href="contact.html">Contact Us</a></li>
    <li>
      <a href="#">Photos</a>
      <ul>
        <li><a href="photos.html">Photos 2014</a></li>
        <li><a href="photos-early.html">Photos - Early</a></li>
      </ul>
    </li>
  </ul>
</nav>