<aside id="sidebar1">
    <p>&nbsp;</p>
    <table width="100%" cellspacing="2">
      <tr>
        <td width="31%">&nbsp;</td>
        <td width="37%">
          <a href="http://www.facebook.com/InternationalEyeInstitute">
            <img src="images/facebook.jpg" alt="Facebook" width="118" height="40" class="fltleft"></a>
        </td>
        <td width="32%">&nbsp;</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="2">
      <tr>
        <td width="35%">&nbsp;</td>
        <td width="29%">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="8X882DLYVUE6L" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
              name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </td>
        <td width="36%">&nbsp;</td>
      </tr>
    </table>
    <p align="center">And help us help others...<br />
      Even $1, $5 or $10 will make a
      difference.</p>
    <h1 align="center"><span class="smaller">Click here to download the:</span><br />
      <a href="pdf/2022-Report.pdf" target="_blank">2022 Report</a>
    </h1>
    <hr />
    <h1 align="center"><span class="smaller">Learn more about </span><br />
      <a href="aha.html" target="_blank">Hospitalito Atitlan
    </h1>
    <hr />
    <p align="center">Watch the trailer made by film maker, <br />
      Jordan Halland, during his recent trip with members of the Fall 2016 Guatemala Trip.</p>
    <p align="center"><a href="http://www.jordanhalland.com/mira/" target="_blank"><img src="images/video.jpg"
          width="222" height="221" alt="" /></a></p>
  </aside>