<head>
    <title>International Eye Institute</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="International Eye Institute Introduction Page">
    <link href="./css/iei.css" rel="stylesheet">
    <link href="./css/links.css" rel="stylesheet">
    <link href="./css/menubar.css" rel="stylesheet">
    <link href="./css/slideshow.css" rel="stylesheet">

    <!-- https://github.com/ekallevig/jShowOff -->
    <!-- <script type="text/javascript" src="scripts/jquery-3.7.1.min.js"></script> -->
    <script type="text/javascript" src="scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.jshowoff.min.0.1.2.js"></script>
    <script type="text/javascript">
      $(document).ready(function () { $('#features').jshowoff({ links: false, cssClass: "images" }); });
    </script>
  

    <meta name="google-site-verification" content="PkiykMmQwho-XN64MTrwRaFxDb7trMhU6sIcxycx58M">
    <meta name="google-site-verification" content="xWPNIbvd6hoqQ4fLALBPwGPSkWr2PWI1ruyz-sujSwU">
    <meta name="google-site-verification" content="SnGv2DvTwr_1DOwNJE799lrX3GfzFXpuSdlFXj5a0aw">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152706638-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-152706638-1');
    </script>
</head>
