.slideshow {
    position: relative;
    /* This ensures that the child elements can be positioned in relation to this container */
    width: 100vw;
    height: 50vwvw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slideshow-controls {
    bottom: -50px;
    /* Adjust this value as needed to place the buttons 30px below the image */
    left: 50%;
    transform: translateX(-50%);
    /* This centers the controls */
    text-align: center;
    position: static;
    margin-left: 550px;
    margin-bottom: 50px;
}

button {
    margin: 0 10px;
}

button {
    background: url('../images/bg-nav.jpg');
    margin: 0 10px;
}