<!DOCTYPE html>
<html lang="en">

<head>
  <title>International Eye Institute</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="International Eye Institute Introduction Page">
  <link href="./css/iei.css" rel="stylesheet">
  <link href="./css/links.css" rel="stylesheet">
  <link href="./css/menubar.css" rel="stylesheet">
  <link href="./css/slideshow.css" rel="stylesheet">

  <!-- https://github.com/ekallevig/jShowOff -->
  <!-- <script type="text/javascript" src="scripts/jquery-3.7.1.min.js"></script> -->
  <script type="text/javascript" src="scripts/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.jshowoff.min.0.1.2.js"></script>
  <script type="text/javascript">
    $(document).ready(function () { $('#features').jshowoff({ links: false, cssClass: "images" }); });
  </script>


  <meta name="google-site-verification" content="PkiykMmQwho-XN64MTrwRaFxDb7trMhU6sIcxycx58M">
  <meta name="google-site-verification" content="xWPNIbvd6hoqQ4fLALBPwGPSkWr2PWI1ruyz-sujSwU">
  <meta name="google-site-verification" content="SnGv2DvTwr_1DOwNJE799lrX3GfzFXpuSdlFXj5a0aw">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152706638-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-152706638-1');
  </script>
</head>

<body>
  <div id="container">
    <header>
      <img src="images/header.jpg" alt="International Eye Institute">
    </header>

    <nav>
      <ul id="menuBar">
        <li><a href="index.html">Home</a></li>
        <li><a href="vision.html">Our Vision</a></li>
        <li class="has-submenu">
          <a href="#">About Us</a>
          <ul>
            <li><a href="history.html">History</a></li>
            <li><a href="board.html">Board of Directors</a></li>
            <li><a href="donors.html">Donors</a></li>
          </ul>
        </li>
        <li><a href="newslettters.html">Newsletters</a></li>
        <li>
          <a href="#">How To Help</a>
          <ul>
            <li><a href="help.html">Donate to IEI</a></li>
            <li><a href="donate-scholarship.html">Scholarship Fund</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
        <li>
          <a href="#">Photos</a>
          <ul>
            <li><a href="photos.html">Photos 2014</a></li>
            <li><a href="photos-early.html">Photos - Early</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <body>
      <!-- %%PARTIAL%% -->
    </body>
    <footer id="footer">
      <p>© 2011-2020 International Eye Institute, Inc; a registered 501(c)(3)</p>
      <p>310 S 13th St, Coeur d'Alene, ID 83814, (208) 964-0565</p>
    </footer>
  </div>
</body>

</html>
